.option-header.claveunica
  .row
    .col-md-12
      .title
        %i.material-icons ipower_settings_new
        %h1 Obtener claveúnica

.claveunica-page.error
  .container
    .row
      .col-md-12
        .icon
          %i.material-icons error
        %h3 ¡Lo sentimos!
        %h4
          = @error
