.col-md-12
  %label Periodos
  -# = select_tag "periodos", "<option value='1'>2017</option> <option value='2'>2016-2017</option> <option value='3'>2015-2017</option> <option value='4'>2014-2017</option> <option value='5'>2013-2017</option> ".html_safe
  = select_tag "periodos", "<option value='1'>2018</option>".html_safe  