// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

table {
  .success{
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
  }
  .failure{
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
  }
}

#header ul.tabs > li ul li a:hover {
  color: #fff;
  background: none;
  font-weight: bold;
}

#header ul.tabs > li ul li a {
  background: none;
  display: block;
  color: white;
}

.totem-down {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 5px;
}
