//BENEFICIOS

.header{
    .title{
        .section-title{
            &.beneficios{
                width: 25%;
            }
        }
    }
}

.empty-message{
  width: 100%;
  background-color: white;
  overflow: hidden;
  border-radius: 3px;
  text-align: center;
  margin-top: 60px;
  padding: 100px;
  p{
    color: black;
    font-size: 28px;
  }
  .question-mark{
    color: orange;
    font-size: 8em;
    margin-bottom: 30px;
  }
}




