---
http_interactions:
- request:
    method: post
    uri: https://apis.digital.gob.cl/validateUser
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><wsv:validar><run>55555555</run><password>password</password></wsv:validar></soapenv:Body></soapenv:Envelope>
    headers:
      Soapaction:
      - '"validar"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><soapenv:Body><soap:Envelope
        xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><RespuestaAutenticacion><Run><codrespuesta>OK</codrespuesta><numero>55555555</numero><dv>5</dv><email>test@test.com</email></Run></RespuestaAutenticacion></soap:Body></soap:Envelope></soapenv:Body></soapenv:Envelope>
  recorded_at: Wed, 08 Mar 2017 20:31:09 GMT
recorded_with: VCR 3.0.3
