---
http_interactions:
- request:
    method: get
    uri: https://www.chileatiende.gob.cl/api/fichas?access_token=QMwbYZbx3Hpyc9PG&maxResults=100&pageToken&query=permiso%20de%20circulacion&type=JSON
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Var:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"fichas":{"titulo":"Listado de Fichas","tipo":"chileatiende#fichasFeed","nextPageToken":"MTAw","total":"219","items":{"ficha":[{"id":"9611","codigo":"ZZ001-102","fecha":"2017-04-03
        12:30:04","servicio":"ChileAtiende","titulo":"Permiso de circulaci\u00f3n","updated_data_at":"2017-04-03
        00:00:00","objetivo":"<p>Antes de obtener o renovar el permiso de circulaci\u00f3n,
        consulte si registra una <a href=\"http:\/\/consultamultas.srcei.cl\/ConsultaMultas\/consultaMultasExterna.do\"
        target=\"_blank\">multa de tr\u00e1nsito no pagada<\/a>.<\/p>","beneficiarios":"<p>Permite
        que autom\u00f3viles, camionetas, motos y otros veh\u00edculos puedan circular
        por las calles del pa\u00eds en forma legal. Recuerde que antes de obtener
        o renovar el permiso de circulaci\u00f3n, debe consultar si registra <a href=\"http:\/\/consultamultas.srcei.cl\/ConsultaMultas\/consultaMultasExterna.do\"
        target=\"_blank\">multas de tr\u00e1nsito no pagadas.<\/a><\/p>\n<p>{{paso:Fechas
        de pago}}<\/p>\n<p>{{contenido:<\/p>\n<ul>\n<li><strong>Del 1 de febrero al
        31 de marzo<\/strong>: autom\u00f3viles particulares, motocicletas, furgones,
        ambulancias, carrozas f\u00fanebres, autom\u00f3viles de alquiler de lujo,
        de turismo o de servicios especiales, station wagons y camionetas. Tambi\u00e9n
        se incluyen en este periodo los carros y remolques para acoplar a veh\u00edculos
        motorizados, hasta 1.750 kilogramos de capacidad de carga, media unidad.<\/li>\n<li><strong>Mayo<\/strong>:
        taxis y buses.<strong><\/strong><\/li>\n<li><strong>Septiembre<\/strong>:
        veh\u00edculos de carga, motonetas,\u00a0bicimotos, bicicletas con motor,
        tractocamiones, tractores agr\u00edcolas o industriales y m\u00e1quinas automotrices.
        Tambi\u00e9n se incluyen en este periodo los carros y remolques para acoplar
        a veh\u00edculos motorizados, mayor a 1.750 kilogramos de capacidad de carga.}}<\/li>\n<\/ul>\n<p>{{paso:Valores}}<br
        \/><br \/>{{contenido:<\/p>\n<p>Cada a\u00f1o, el Servicio de Impuestos Internos
        (SII) hace una<strong> tasaci\u00f3n oficial de los autom\u00f3viles<\/strong>,
        para determinar el valor de cada permiso.<\/p>\n<ul>\n<li><a href=\"https:\/\/www.sii.cl\/avalu\/tv\/tv_liv_inp2017.htm\"
        target=\"_blank\">Consulte la tasaci\u00f3n de veh\u00edculos livianos (2017)<\/a>.<\/li>\n<li><a
        href=\"https:\/\/www.sii.cl\/avalu\/tv\/tv_pes_inp2017.htm\" target=\"_blank\">Consulte
      [...]
