---
http_interactions:
- request:
    method: get
    uri: https://www.chileatiende.gob.cl/api/fichas?access_token=QMwbYZbx3Hpyc9PG&maxResults=100&pageToken&query=militar&type=JSON
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"fichas":{"titulo":"Listado de Fichas","tipo":"chileatiende#fichasFeed","total":"47","items":{"ficha":[{"id":"1000","codigo":"AD013-32","fecha":"2017-09-22
        12:23:43","servicio":"Direcci\u00f3n General de Movilizaci\u00f3n Nacional","titulo":"Llamados
        al Servicio Militar 2017","updated_data_at":"2017-09-22 00:00:00","objetivo":"<p>La
        <strong>base de conscripci\u00f3n es un listado <\/strong>que incluye a todos
        los j\u00f3venes (voluntarios y no voluntarios) que <strong>durante el a\u00f1o
        2017 cumplen 18 a\u00f1os<\/strong> y, por lo tanto, podr\u00e1n ser <strong>convocados
        a realizar el Servicio Militar durante el 2018<\/strong>.<\/p>\n<p>Primero,
        se convoca a los <strong>j\u00f3venes que desean <a href=\"[[1036]]\" target=\"_blank\">inscribirse
        como voluntarios<\/a>,<\/strong> <strong>cuyo [...]
[...]
- request:
    method: get
    uri: https://www.chileatiende.gob.cl/api/fichas?access_token=QMwbYZbx3Hpyc9PG&maxResults=100&pageToken&query=&type=JSON
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"fichas":{"titulo":"Listado de Fichas","tipo":"chileatiende#fichasFeed","nextPageToken":"MTAw","total":2513,"items":{"ficha":[{"id":"370","codigo":"AD009-8","fecha":null,"servicio":"Carabineros
        de Chile","titulo":"Sistema de Seguridad Privada: Requisitos para un servicio
        de Guardias de Seguridad","updated_data_at":null,"objetivo":"<p><strong>Descripci\u00f3n:<\/strong><\/p>\n<p>Aprobaci\u00f3n
        por parte de la Autoridad Fiscalizadora respectiva, de la Directiva de Funcionamiento
        que determina la modalidad de contrataci\u00f3n del servicio de Guardias de
        Seguridad (propio o por empresa). <br \/><strong><\/strong><\/p>\n<p><strong>En
        que consiste:<\/strong><\/p>\n<p>Determinar la modalidad de contrataci\u00f3n
        del servicio de Guardias de Seguridad, (propio o por empresa) y comunicar
        a la Autoridad Fiscalizadora respectiva, para efectos de aprobaci\u00f3n de
        la Directiva de Funcionamiento.<\/p>","beneficiarios":"<p>Personas Naturales
        o Jur\u00eddicas, que cumplan con el siguiente requisito: Contar con la aprobaci\u00f3n
        de la Directiva de Funcionamiento.<\/p>","costo":"<p>No tiene costo.<\/p>","vigencia":"","plazo":"","observaciones":"<ul>\n<li>Una
        vez aprobada la Directiva de Funcionamiento el empleador, en el caso de haber
        contratado directamente al Guard\u00eda de Seguridad, deber\u00e1 solicitar
        la tramitaci\u00f3n de su Tarjeta de Identificaci\u00f3n ante la Autoridad
        F\u00edscalizadora.<\/li>\n<li>La Tarjeta de Identificaci\u00f3n tiene vigencia
        de un a\u00f1o renovable y tendr\u00e1 validez mientras preste servicios para
        la entidad.<\/li>\n<\/ul>","marco_legal":"","doc_requeridos":"<ul>\n<li>Contrato
        de Trabajo del Guardias de Seguridad<\/li>\n<li>Seguro de vida a favor del
        Guardia de Seguridad (75 U.T.M.).<\/li>\n<\/ul>","guia_online":"","guia_online_url":"","guia_oficina":"<p>En
        cada una de las Autoridades Fiscalizadoras (Prefecturas), en donde se desarrollar\u00e1
        el servicio.<\/p>\n<p>El resultado del tr\u00e1mite ser\u00e1: Aprobaci\u00f3n
        del estudio de seguridad.<\/p>","guia_telefonico":"","guia_correo":"","temas":null,"tags":null,"chileclic_id":"CARAB0008","permalink":"https:\/\/www.chileatiende.gob.cl\/fichas\/ver\/370"},{"id":"382","codigo":"AD009-12","fecha":null,"servicio":"Carabineros
        de Chile","titulo":"Recepci\u00f3n y fiscalizaci\u00f3n de medidas de seguridad
        de estaciones de servicio y bombas bencineras","updated_data_at":null,"objetivo":"<p><strong>Descripci\u00f3n:<\/strong><\/p>\n<p>Procedimiento
        de aprobaci\u00f3n de las medidas de seguridad que deben tener las estaciones
        de servicios o bombas bencineras, en todas[...]
