---
http_interactions:
- request:
    method: post
    uri: https://minsegpres.simple.cl/backend/api/ejecutar/1111999
    body:
      encoding: US-ASCII
      string: '{"rut": "55555555-5"}'
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Var:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{
  "rut": "16127882-6",
  "situacion": true,
  "nombres": "ANDRES ALEJANDRO",
  "paterno": "PENAILILLO",
  "materno": "ACUNA",
  "valer": "N",
  "institucion": "NO",
  "situamili": "NO",
  "fechalic": "NO",
  "unidad": "NO",
  "descarga_certificado_fines_gener": "58b83f3b0bb3c.pdf",
  "base64_certificado": "fasfasff"
}'
  recorded_at: Mon, 03 Mar 2017 10:04:12 GMT
recorded_with: VCR 3.0.3
