.modal-dialog{:role => "document"}
  .modal-content
    .modal-body
      %h4
        = t('errors.custom.not_authorized')
    .modal-footer
      %a#back.btn.medium-btn.btn-main{"data-dismiss" => "modal"} Ok, comprendo.

