.modal-dialog{:role => "document"}
  .modal-content
    .modal-body
      %h4 La clave ingresada no coincide con el RUT.
      %h4
        %strong Por favor ingresala nuevamente.
    .modal-footer
      %a.btn.medium-btn.btn-main{"data-dismiss" => "modal"} Aceptar

