#modalErrorCI.modal.fade{:role => "dialog", :tabindex => "-1"}

  .modal-dialog{:role => "document"}
    .modal-content
      .modal-body
        %h4 ¡Lo siento! tenemos problemas para leer tu cédula de identidad.
        %h4
          %strong Retírala y vuelve introducirla en el lector
          por favor.
      .modal-footer
        %a.btn.medium-btn.btn-main{"data-dismiss" => "modal"} Ok, entiendo

