.modal-dialog{:role => "document"}
  .modal-content
    .modal-body
      %h4 El sistema no ha respondido dentro del tiempo esperado.
      %h4
        %strong Por favor inténtalo nuevamente.
    .modal-footer
      %a.btn.medium-btn.btn-main{"data-dismiss" => "modal"} Ok, no hay problema.

