.modal-body
  %h4
    Las claves ingresadas no coinciden entre ellas.
  %h4
    %strong Por favor ingresalas nuevamente.
.modal-footer
  %a.btn.medium-btn.btn-main{"data-dismiss" => "modal"} Perfecto, comprendo.
