.container#cedulaBody.hide
  .row
    .col-md-12
      %h3
        %strong
          2
        Ubica tu dedo en el lector de huella digital
    .col-md-12
      .instruction
        =image_tag "hand2.svg", alt: "hand2"
